.footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: linear-gradient(#89223B 50%, #6f2534 90%);
        margin: 0 auto;

}

.container {

        max-width: 1200px;
        margin: 0 auto;
}

.centralizar-texto {
        text-align: center;
        margin: 0;
}